{% extends "base.html" %}
{% load i18n %}

{% block body %}
    <div class="col-xs-6">
        <div class="panel panel-info">
            <div class="panel2">Stwórz post</div>
            <p class="panel-body">
                <form method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <p>
                        <label for="id_title">Tytuł</label>
                        {{ form.title }}
                    </p>
                    <p>
                        <label for="id_excerpt">Streszczenie</label>
                        {{ form.excerpt }}
                    </p>
                    <p>
                        <label for="id_content">Treść</label>
                        {{ form.content }}
                    </p>
                    <p>
                        <label for="id_categories">Kategoria</label>
                        {{ form.categories }}
                    </p>
                    <p>
                        <label for="id_status">Status</label>
                        {{ form.status }}
                    </p>
                    <p >
                        <label for="id_tags">Tagi</label>
                        {{ form.tags }}
                    </p>
                    <p>
                        <label for="id_post_image">Obrazek:</label>
                        {{ form.post_image }}
                    </p>
                    {{ form.errors }}
                    <button type="submit" class="save btn btn-default">Send</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
