{% extends 'bootstrap3/bootstrap3.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load bootstrap_themes %}


{% bootstrap_styles theme="simplex" type="min.css" %}

{% block bootstrap3_extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="{% static 'base/css/style.css' %}" rel='stylesheet'/>
    <script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="/static/django_tinymce/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/django_tinymce/init_tinymce.js"></script>
{% endblock %}

{% block bootstrap3_title %}
    {% block title %}
        Witam na stronie!
    {% endblock %}
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><b>TECH_blog</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="#">Twoje wpisy</a></li>
                        <li><a href="{% url 'new_post' %}">Dodaj wpis</a></li>
                        <li><a href="#">Zobacz kategorie</a></li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><span style="padding: 15px; display:block; color:white">
            {% if request.user.is_authenticated %}
                Witaj, {% if request.user.first_name %}
                {{ request.user.first_name }}
            {% else %}
                {{ request.user.username }}
            {% endif %}</span></li>
                <li><a href="{% url 'auth_logout' %}">Wyloguj</a></li>
                <li><a href="{% url 'show_profile' %}">Profil</a></li>
            {% else %}
                <li><span style="padding: 15px; display:block; color: white">Witaj nieznajomy!</span></li>
                <li><a href="{% url 'auth_login' %}">Zaloguj się</a></li>
                <li><a href="{% url 'registration_register' %}">Zarejestruj się</a></li></ul>
            {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


        {% block body %}
            {% if request.user.is_authenticated %}
                <h2>Posty</h2>

                {% for post in posts %}
                    <div class="col-sm-4">
                        <div class="entry-post">
                            <div class="post-content">
                                <div class="entry-thumbnail">
                                    <img src="{{ post.post_image.url }}" >
                                </div>
                                <div class="time">
                                    <a href="#">{{ post.published_date }}</a>
                                </div>
                            </div>
                            <div class="entry-title">
                                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                            </div>
                            <p>{{ post.excerpt }}.</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}

{% endblock %}